.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputLabel {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    color: #6C3B1D;
    margin-bottom: 10px;
}

.inputField {
    width: 480px;
    height: 40px;
    border: 2px solid #6C3B1D;
    border-radius: 10px;
    background-color: #ECE7E3;
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    color: #6C3B1D;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

.inputField:focus {
    outline: none;
    border-color: #845343;
}