.home {
    background-color: #F1F2EC;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sale {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.new h1 {
    font-size: 1.5em;
}

.home h1 {
    margin: 0;
    padding-bottom: 3%;
}

.books {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 6%;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 15%;
    cursor: pointer;
}

.book p {
    margin: 0;
    padding-bottom: 7%;
}

.bookImage {
    padding-bottom: 7%;
}

.bookPrice {
    color: #6C3B1D;
    font-size: 30px;
}

.bookTitle {
    color: #845343;
    font-size: 18px;
}

.bookAuthor {
    color: #845343;
    font-size: 13px;
}

.book button {
    margin-top: 9%;
}