.book {
    background-color: #F1F2EC;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1%;
    padding-top: 2%;
}

.book h1 {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.bookAbout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 6%;
}

.bookDesc {
    color: #6C3B1D;
    font-size: 17px; 
    padding-right: 10%;  
    padding-bottom: 3%;
}

.bookCharact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 1%;
}

.ch1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 10%;
}

.ch1 p {
    padding-bottom: 5%;
    color: #AE887C;
    font-size: 15px;
}

.ch2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 15%;
}

.ch2 p {
    padding-bottom: 5%;
    color: #6C3B1D;
    font-size: 15px;
}

.bookImage {
    padding-bottom: 1%;
}

.bookPrice1 {
    color: #6C3B1D;
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bookAuthor {
    color: #845343;
    font-size: 22px;
    padding-bottom: 2%;
}
