.header {
    background-color: #F1F2EC;
    padding: 1% 2%;
    border-bottom: solid #E4DBD2;
}
.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}
