html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Jura', sans-serif;
}
#root {
    height: 100%;
    width: 100%;
}
body {
    background-color: #F1F2EC;
}
   
h1 {
    font-family: 'Jura', sans-serif;
    color: #6C3B1D;
    font-size: 3.2em;
    line-height: 1.1;
}

p {
    font-family: 'Inria-Sans', sans-serif;
    color: #6C3B1D;
    margin: 0;
}