html, body {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
}

body {
    background-color: #F1F2EC;
}
   
h1 {
    font-family: 'Jura', sans-serif;
    color: #6C3B1D;
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
}

p {
    font-family: 'Inria-Sans', sans-serif;
    color: #6C3B1D;
    margin: 0;
}